<div *ngIf="visible" class="overlap" (click)="close($event)">
    <div class="form">
        <div><label for="pname">Name: </label><input id="pname" [(ngModel)]="population.name" /></div>
        <div><label for="psize">Size: </label><input id="psize" [(ngModel)]="population.size" /></div>
        <div>
            <label for="pcolor">Color: </label><span id="pcolor" class="color" (click)="openColorPicker($event)" [style.backgroundColor]="pcolor"></span>
            <wmap-color-picker
                [(visible)]="showColorPicker"
                [color]="population.color"
                [style.position]="'absolute'"
            ></wmap-color-picker>
        </div>

    </div>
</div>
